html, body{margin:0;padding:0;font-family:arial, sans-serif;font-size:14px; background-color: grey;}
h2, h3, h4, h5, h6{font-size:18px;}
hr{margin:20px 0px 10px 0px;}
#site-wrapper{width:100%;margin:0px auto;padding:none;background:url('images/bg.gif') repeat-x; background-color: #fff;}
#head{width:980px;margin:0px auto;height:80px;}
#hleft{width:380px;height:80px;;float:left;}
#hleft h1{font-size:24px;margin:15px 0px 5px 0px;}
#hright{width: 600px;height:80px;float:right; margin-right: -4%;/*text-align:right;*/}
#hright h1{font-size:24px;margin:15px 0px 5px 0px;}
#hright span{font-size:12px;font-style:italic;}
#redspace{height:5px;background-color:#9d060d;margin:3px 0px 3px 0px;width:100%;}
#menuspacer{width:100%;height:40px;background-color:#013c73;}
#menu{width:980px;margin:0px auto;height:40px;margin-bottom:20px;display:table;}
#menu ul{list-style:none;padding:0px;height:40px;margin:0px;}
#menu ul li.first{padding:10px 10px 10px 0px;}
#menu ul li{float:left;padding:10px 10px;}
#content{width:980px;margin:0px auto;display:table;margin-top:20px;}
#footer-wrapper{height:200px;background-color:grey;width:100%;margin-top:20px;}
#footer{width:980px;margin:0px auto;display:table;}
#footersub{width: 980px;margin:0px auto;display:table;}
#first{width:300px;margin-right:40px;display:table;float:left;}
#second{width:300px;margin-right:40px;display:table;float:left;}
#third{width:300px;display:table;float:left;}
#menu ul a{color:#fff;text-decoration:none;}
#main{/*width:680px;*/float:left;display:table;}
#sidebar{width:260px;float:right;}
#sidebar ul li{line-height:18px;margin-bottom:10px;}
.esta-registration-form{width:240px;background-color:#259328;border:1px solid darkgreen;padding:11px;display:table;text-align:center;vertical-align:bottom;background-image:-webkit-linear-gradient(#6bc132 0%, #2e7200 100%);background-image:-moz-linear-gradient(#6bc132 0%, #2e7200 100%);background-image:-o-linear-gradient(#6bc132 0%, #2e7200 100%);background-image:linear-gradient(#6bc132 0%, #2e7200 100%);color:#fff;text-decoration:none;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;
border-radius:20px;}
.esta-registration{background-color:#013c73;border:1px solid #013c73;padding:5px;text-align:center;vertical-align:bottom;background-image:-webkit-linear-gradient(#2b74b8 0%, #013c73 100%);background-image:-moz-linear-gradient(#2b74b8 0%, #013c73 100%);background-image:-o-linear-gradient(#2b74b8 0%, #013c73 100%);background-image:linear-gradient(#2b74b8 0%, #013c73 100%);color:#fff;text-decoration:none;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;border-radius:10px;}
#container{display:table;width:680px;}
#visa-waiver-countries{width:320px;float:left;}
#faq{width:320px;float:right;}
#steps{width:680px;padding:20px 0px 5px 0px;border:2px solid #013c73;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;border-radius:10px;display:table;}
#step1{width:180px;padding:10px;text-align:center;border:2px solid #013c73;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;border-radius:10px;float:left;height:60px;margin-left:18px;}
#step2{width:180px;padding:10px;text-align:center;border:2px solid #013c73;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;border-radius:10px;float:left;height:60px;margin-left:18px;}
#step3{width:180px;padding:10px;text-align:center;border:2px solid #013c73;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;border-radius:10px;float:left;height:60px;margin-left:18px;}
#footer h6{margin:20px 0px 10px 0px;color:#fff;}
#footer a{display:table;color:#fff;text-decoration:none;}

label.txt, label.datetxt, label.selecttxt {
	width: 360px;
	height: 20px;
	float: left;
	text-align: right;
	display: table;
}

#bestellform #steps_container div {
	float: left;
	margin-right: 40px;
	clear: none;
	font-weight: bold;
}

#bestellform #steps_container div.active {
	color: green;
}

#bestellform #steps_container {
	display: table;
	clear: none;
	margin-bottom: 30px;
}

#bestellform div {
	clear: both;
	margin-bottom: 10px;
	display: table;
}

#bestellform input {
	/*margin-left: 20px;*/
	width: 200px;
}
#bestellform input[type=radio], #bestellform input[type=checkbox] {
	width: auto;
}
.foot_1 {
	text-align:center;
	margin-top:3%;
	display: table;
}
.foot_1 a{
	text-decoration:none;
}

#bestellform label {
	margin-right: 20px;
}

#bestellform span {
	width: 20px;
	text-align: left;
	height: 20px;
	display: table;
	float: left;
}
#bestellform span.mandatory {
	text-align: right;
	float: none;
	display: inline;
	color: red;
}

#bestellform input[type=submit] {
	float: right;
	margin-left: 425px;
}
.check_submit_data {
	width: 980px;
	margin-top: 40px;
	clear: both;
	position: relative;
}
.check_submit_data h2 {
	float: left;
}
.check_submit_data button {
	margin-top: 15px;
	margin-left: 40px;
	left: 410px;
	position: absolute;
}
.check_submit_data div {
	display: table;
	margin-bottom: 15px;

}
.check_submit_data div label {
	width: 130px;
	text-align: left;
	display: block;
	float: left;
	margin-right: 20px;
}
.check_submit_data .collapse {
	display: none;
	clear: both;
}

.all_orders_wrapper {
	border-top: 1px solid grey;
	margin-top: 40px;
	clear: both;
}

.all_order_wrapper_buy {
	margin-left: 476px;
}

.all_order_wrapper_buy img {
	position: relative;
	top: 6px;
	left: -17px;
}

/*
.check-green {
	color: green;
}

.check-red {
	color: yellow;
}
*/

.check_submit_data div span {
	text-align: left;
	float: left;
	font-weight: bold;
}

.single_unconfirmed span {
	width: 320px;
	display: inline-block;
	height: 30px;
	font-weight: bold;
	margin-left: 10px;
}

.single_unconfirmed button {

}

.choice {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid grey; 
}

.choice h3 {
	display: inline-block;
}

.choice button {
	margin-left: 50px;
}

.choice_2 {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid grey;
	display: table;
	width: 100%;

	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid grey;
}

.choice_2 .express_checkbox_h {
	width: 300px;
	display: block;
	float: left;
}

.choice_2 .express_checkbox_span {
	width: 272px;
	display: block;
	float: left;
	text-align: right;
}

.choice_2 .express_checkbox_span p {
	font-size: 12px;
}

.choice_2 .express_checkbox_h h3 {
	margin-bottom: 0px;
}

.choice_2 .express_checkbox_h p {
	font-size: 12px;
	width: 270px;
	margin-top: 3px;
}

.choice_2 .express_checkbox_span input {
	margin-top: 1.5em;
}

.choice .payment {
	margin-left: 368px;
}

.radioclass {
	margin-right: 20px;
}

.attribute {
	width: 200px;
	/*margin-left: 20px;*/
}

div.questions {
	display: table;
	margin-top: 20px;
}

label.fulltxt {
	width: 450px;
	text-align: left;
	float: left;
}

div.questions select {
	float: left;
	margin-left: 20px;
}

#check {
	display: table;
	margin-top: 20px;
	margin-bottom: 20px;
}

label.check {
	width: 450px;
	float: left;
	text-align: left;
}

#ui-datepicker-div {
	background-color: #fff;
	padding: 5px;
	border: 5px solid grey;
}
span.radioclass {
	width: 100%;
	text-align: left;
	display: table;
}

#rechnungs_wrapper form div {
	width: 500px;
	margin-bottom: 15px;
}

#rechnungs_wrapper form div input, #rechnungs_wrapper form div select {
	width: 250px;
}

#rechnungs_wrapper form div label {
	width: 130px;
	font-weight: bold;
	display: inline-block;
}

#rechnungs_wrapper form div button {
	margin-top: 15px;
}

#left_col {
	width: 480px;
	float: left;
	display: table;
}

#right_col {
	width: 300px;
	float: right;
	display: table;
}

#error_msg_1 {
	font-weight: bold;
	margin-bottom: 10px;
	color: red;
}

.user-login {
	width: 250px;
}

.user-login div {
	margin-bottom: 5px;
}

.user-login div label {
	display: inline-block;
	width: 80px;
	font-weight: bold;
}

.user-login input[type=submit] {
	float: right;
	margin-right: 15px;
}

.passwd-change {
	width: 350px;
	margin-top: 30px;
}

.passwd-change div {
	margin-bottom: 5px;
}

.passwd-change div label {
	display: inline-block;
	width: 180px;
	font-weight: bold;
}

.passwd-change input[type=submit] {
	float: right;
	margin-right: 15px;
}

.order_group {
	margin-top: 20px;
}

.order_group div span {
	padding-right: 15px;
}

.datepopup {
	width: 684px;
}

#bestellform div.date-items-wrapper {
	float: right;
	clear: none;
	display: table;
	width: 300px;
}

#bestellform div.date-items-wrapper .date-item {
	clear: none;
	margin-right: 10px;
}

#bestellform div.date-items-wrapper .date-item span {
	display: inline-block;
	width: 60px;
	padding-top: 4px;
}

#bestellform div.date-items-wrapper .date-item select {
	width: 140px;
}

#bestellform span.infobox {
	display: block;
	float: right;
	margin-left: 5px;
	background: url("../images/information.png") no-repeat;
	width: 28px;
	height: 28px;
	position: relative;
	cursor: pointer;
}

#bestellform div #hover {
	width: 451px;
	height: 300px;
	position: absolute;
	display: none;
	background: url("../images/passport.jpg") no-repeat;
	right: 70px;
	top: -150px;
}

#bestellform .small-info {
	display: block;foo
	padding: 20px;
	border: 3px solid #ccc;
	width: 535px;
	margin-top: 10px;
	clear: both;
	height: auto;
}
.des {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    background: grey;
}
.foot_1{
    margin-top:3px;
    text-align:center;
}

.contact div label {
	display: inline-block;
	width: 100px;
	margin-bottom: 15px;
}
